

.title {
    font-weight: 300;
    font-size: 4rem;
}

.ContactPage {
    width: 480px;
    margin: 0px auto;
}

.ContactPage input,
.ContactPage textarea {
    display: block;
    margin-bottom: 16px;
    font-size: 1rem;
    padding: 6px;
    width: 100%;
    border-color: #47B5FF;
    outline: 0;
    border-radius: 6px;
    border-width: 1px;
}

.ContactPage h6 {
    font-size: 1rem;
    margin: 0px;
    margin-bottom: 16px;
}

.ContactPage button {
    width: 300px;
    background-color: #010038;
    color: white;
    font-weight: bold;
    padding: 8px;
    margin: 0px auto;
    display: block;
    border-radius: 8px;
}