.hero {
    background-color: #010038;
    color: #F58533;
    padding: 2rem
}

.main {
    width: 992px;
    margin: 0px auto;
}

.heroTabs {
    display: flex;
    padding: 0px;
    margin: 0px
}

.heroTabs li {
    list-style-type: none;
    width: 100px;
    color: #010038;
    background-color: #F58533;
    padding: 4px;
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    border: 2px solid #F58533;
}

.heroTabs a:visited, 
.heroTabs a {
    text-decoration: none;
    color: #010038
}

.heroTabs li.active {
    color: #F58533; 
    background-color: #010038;
}

.heroTabs li:first-child {
    border-top-left-radius: 12px;
    border-right: 2px solid #010038;
}

.heroTabs li:last-child {
    border-top-right-radius: 12px;
}

.tabs {
    border: 2px solid #F58533; 
    border-radius: 12px;
    border-top-left-radius: 0px !important;
}

.buyTab {
    display: flex;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-top: 48px;
}

.buyButton {
    width: 96px;
    height: 128px;
    background-color: #F58533;
    color: #010038;
    border-radius: 8px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.buyButton svg {
    margin: 16px

}
.buyButton img {
    height: 96px;
}

.buyButton h6 {
    font-size: 16px;
    margin: 0px;
    text-decoration: none;
}

.listings {
    display: flex;
}

.listingsContainer {
    overflow-x: auto;
}

.brands {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    overflow: auto;
}

.brandImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.brandImg img {
    width: 150px;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}